/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body{
  background-image: url("./images-gifs/strobelight.gif");
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.center-title{
  text-align:center;
  text-shadow:
    1px 1px 2px rgb(0, 255, 98),
    0 0 1em rgb(0, 255, 0),
    0 0 0.2em rgb(0, 255, 0);
  color: white;
  font-size: 50px;
  
}

.center-guide{
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: "Press Start 2P"
}

.underwater-box{
  text-align:center;
  color:white;
}


